.head {
    height: 200px;
    background-repeat: no-repeat;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
}

a:hover {
    opacity: 80%;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    color: aliceblue;
    font-size:22px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    position: absolute;
    right: 200px;
    top: 73px;
}

footer {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    background-color: black;

}

img {
    width: 200px;
}
footer p {
    color: aliceblue;
    display: flex;
    justify-content: center;
}

footer ul {
    color: aliceblue;
}

h1 {
    color: aliceblue;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

.mainAccueil {
    display: flex;
    height: 1080px;
    background-image: url(./images/Background2.jpg);
    background-size: 1920px;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
}

.mainAccueil a {
    text-decoration: none;
}

.mainAccueil p {
    font-family: "Fira Sans Extra Condensed", sans-serif;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
}

.mainAccueil h2 {
    margin-top: 20px;
}

.mainMiles label {
    background-color: black;
    padding: 5px;
}

.mainMiles form {
    font-size: 20px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raison {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainAccueil h2 {
    background-color: black;
    color: aliceblue;
    font-family: "Fira Sans Extra Condensed";
}

.mainMiles {
    height: 2080px;
    background: url('./images/combatSpiderManTache.jpg.jpg') top no-repeat, 
                url('./images/Background3.jpg') bottom no-repeat;
    background-size: 1920px;
    background-repeat: no-repeat;

}

.mainMiles h1 {
    text-align: center;
}

.mainGwen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/GwenStacy.png') top no-repeat, 
                url('./images/GwenStacy2.jpg') bottom no-repeat;
    background-size: 1920px;
    background-repeat: no-repeat;
    height: 2100px;
}

.mainGwen label {
    background-color: black;
    color: aliceblue;
    padding: 5px;
}

.mainGwen form {
    font-size: 20px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainError h1 {
    height: 200px;
}

.mainError {
    background-image: url(./images/404.jpg);
    background-repeat: no-repeat;
    background-size: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.boutonAccueil {
    position: absolute;
    top: 78px;
    left: 300px;
}

.boutonAccueil p, .boutonAccueil a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Fira Sans Extra Condensed";
    font-size: 30px;
}


